<form [formGroup]="myForm" novalidate (ngSubmit)="submit()" class="user__create-users container">
  <div class="form-group">
    <mat-form-field appearance="legacy">
      <mat-label>Enter your email</mat-label>
      <label>
        <input matInput placeholder="Email" autocomplete="off" class="form-control" name="email" formControlName="email">
      </label>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field appearance="legacy">
      <mat-label>Enter your login</mat-label>
      <label>
        <input matInput placeholder="Login" autocomplete="off" class="form-control" name="login"
               formControlName="login">
      </label>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field appearance="legacy">
      <mat-label>Enter your password</mat-label>
      <input matInput placeholder="Password" autocomplete="off" class="form-control" name="password"
             formControlName="password" [type]="hide ? 'password' : 'text'">
      <span mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide" class="button_hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </span>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field appearance="legacy">
      <mat-label>Password confirm</mat-label>
      <input matInput placeholder="PasswordConfirm" autocomplete="off" class="form-control" name="passwordConfirm"
             formControlName="passwordConfirm" [type]="hide ? 'password' : 'text'">
      <span mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide" class="button_hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </span>
    </mat-form-field>
  </div>
  <div class="form-group">
    <button mat-button [disabled]="myForm.invalid">Register</button>
  </div>
</form>

