<h2>Change user</h2>
<form [formGroup]="myForm" novalidate (ngSubmit)="submit()" >
  <div class="form-group">
    <mat-form-field appearance="legacy">
      <mat-label>Enter your name</mat-label>
      <label>
        <input matInput placeholder="Name" autocomplete="off" class="form-control" name="name" formControlName="name">
      </label>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field appearance="legacy">
      <mat-label>Enter your login</mat-label>
      <label>
        <input matInput placeholder="Login" autocomplete="off" class="form-control" name="login" formControlName="login">
      </label>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field appearance="legacy">
      <mat-label>Enter your password</mat-label>
      <label>
        <input matInput placeholder="Password" autocomplete="off" class="form-control" name="password" formControlName="password">
      </label>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field appearance="legacy">
      <mat-label>Password confirm</mat-label>
      <label>
        <input matInput placeholder="PasswordConfirm" autocomplete="off" class="form-control" name="passwordConfirm" formControlName="passwordConfirm">
      </label>
    </mat-form-field>
  </div>
  <div class="form-group">
    <button mat-button [disabled]="myForm.invalid">To change</button>
  </div>
</form>
