<section class="container" style="position: relative; z-index: 1">
<!--  <div class="album">-->
<!--    <div class="album-new box">+</div>-->
<!--    <div class="album__element box">-->

<!--    </div>-->
<!--  </div>-->
  <div class="photo">
    <div class="photo-new box" (click)="addNewPhoto()">+</div>
    <div class="photo__element box" *ngFor="let p of photos; let i = index">
      <img [src]="p.path" alt="" (click)="toggleGallery()">
    </div>
  </div>
</section>

<form class="bg" (click)="addNewPhoto()" [formGroup]="myForm" (ngSubmit)="submit()">
  <div class="photo-window" (click)="clickForm($event)">
    <mat-form-field appearance="legacy" class="form-field">
      <mat-label>Enter your description</mat-label>
      <label>
        <input matInput placeholder="Description" autocomplete="off" class="form-control" name="text" formControlName="text">
      </label>
    </mat-form-field>
    <input type="file" name="fd" formControlName="fd" (change)="OnChange($event)" class="photo-window__file">
    <button mat-button>Add Photo</button>
  </div>
</form>


<div class="photo-gallery">
  <carousel *ngIf="photos" cellWidth="100%" height="500" cellsToShow="1" transitionTimingFunction="linear" class="carousel">
    <div class="carousel-cell" *ngFor="let p of photos">
      <div class="delete" (click)="toggleGallery()"></div>
      <img [src]="p.path" alt="" class="photo-gallery__img">
      <div class="photo-gallery__left-block">
        <div class="photo-gallery__text">
          <p>{{p.text}}</p>
          <button mat-button (click)="delete(p._id)">Delete</button>
        </div>
      </div>
    </div>
  </carousel>
</div>



