*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@import '~@angular/material/theming';

@include mat-core();

$ang-weather-primary: mat-palette($mat-indigo);
$ang-weather-accent: mat-palette($mat-pink, A200, A100, A400);

$ang-weather-warn: mat-palette($mat-red);

$ang-weather-theme: mat-light-theme((
  color: (
    primary: $ang-weather-primary,
    accent: $ang-weather-accent,
    warn: $ang-weather-warn,
  )
));

@include angular-material-theme($ang-weather-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.example-form-field {
  width: 350px;
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.app-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  @media (max-width: 1400px) {
    justify-content: center;
  }
}
