:host ::ng-deep .mat-slider-thumb {
  background: #6f42c1;
}

:host ::ng-deep .mat-slider-track-fill {
  background-color:  #6f42c1;
}

:host ::ng-deep .mat-expansion-panel-body {
  width: 750px;
  margin: 0 auto !important;
}

:host ::ng-deep .mat-card {
  width: 750px;
  margin: 0 auto !important;
}

:host ::ng-deep .mat-row {
  cursor: pointer;
  transition: all ease .3s;

  &:hover {
    background: #f1f1f1;
  }
}


button {
  display: flex;
  justify-content: center;
  font-weight: 300;
  margin: 0 auto;
}
